@using MvcBlog.Entities.Concrete.Entities
@model IEnumerable<MvcBlog.Entities.Concrete.Entities.Kategori>
@{
    ViewBag.Title = "KategoriListesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
 }

<h3>Kategori Listesi</h3>
<hr />
<p>
    @Html.ActionLink("Yeni Kategori Ekle", "Create", null, new {@class="btn btn-primary"})
</p>

<table class="table table-striped table-hover table-bordered">
    <caption>Kategoriler</caption>
    <thead>
        <tr>
            <th>KategoriID</th>
            <th>Kategori Adi</th>
            <th style="width:12%;">İşlem</th>
        </tr>
        
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.KategoriID)</td>
                <td>@Html.DisplayFor(modelItem=>item.KategoriAdi)</td>
                <td>
                    @Html.ActionLink("Düzenle", "Create", new { id = item.KategoriID }, new { @class = "btn btn-warning btn-sm" })
                    @Html.ActionLink("Sil", "Delete", new { id = item.KategoriID }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>

